<!DOCTYPE html>
<html>
<head>
    <title>fxp parameter editor</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <header>
        <h1 class="neon-header">fxp parameter editor</h1>
    </header>
    <div id="list1" class="dropdown-check-list" tabindex="100">
        <span class="anchor">Select Items</span>
        <ul class="items">
            <br><input type="text" id="search-box" placeholder="Search.."></li>
            <!-- List items will be added here by JavaScript -->
        </ul>
    </div>
    <div class="sliders-container">
        <input type="range" id="min-slider" min="0" max="100" value="0">
        <input type="range" id="max-slider" min="0" max="100" value="100">
    </div>
    <div class="buttons">
        <button id="randomize-button">Randomize</button> 
        <button id="reset-button">Reset</button>    
        
    </div>

    <div class="buttons2">
        <input type="file" id="file-upload" accept=".fxp" style="display: none;">
        <button id="upload-button">Upload FXP</button>
        <button id="download-button">Download modified FXP</button>
    </div>
    <div class="knobs-wrapper">
        <!-- Knob containers here -->
    

 <!--  First Knob Container 
    <div class="knob-container">
        <div class="static-plate">
            <div id="neon-ring-1"></div>
            <div id="number-1"></div>
        </div>
        <div class="movable-plate" id="movable-plate-1"></div>
        <div class="knob" id="knob-1"></div>
    </div>

    Second Knob Container 
    <div class="knob-container">
        <div class="static-plate">
            <div id="neon-ring-2"></div>
            <div id="number-2"></div>
        </div>
        <div class="movable-plate" id="movable-plate-2"></div>
        <div class="knob" id="knob-2"></div>
    </div>
-->  
</div>
    <script src="/static/script.js"></script>
</body>
</html>
